.container {
  width: 400px;
  height: 650px;
  background-color: #eee;
  border: 2px solid #303030;
  margin: 25px auto 0 auto;
  border-radius: 10px;
}
.numberBox {
  background-color: chocolate;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.functionBox {
  background-color: gold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.numberRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.display {
  display: inline-block;
  padding-right: 15px;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #303030;
  color: red;
  font-size: 36px;
  padding-top: 10px;
  text-align: right;
  box-sizing: border-box;
}
.button {
  border: black solid 2px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 24px;
  padding-top: 12px;
  box-sizing: border-box;
  text-align: center;
}
.numberButton {
  background-color: pink;
  margin: 10px;
}
.zeroButton {
  background-color: navy !important;
  color: grey;
}
.functionButton {
  background-color: navy;
  margin: 10px;
  color: gold;
}
body {
  margin: 0 auto 0 auto;
}
